<div class="album text-muted">
  <div class="container">

    <div class="card">
      <img class="card-img" data-src="holder.js/100px280/thumb" alt="100%x280" src="https://images-na.ssl-images-amazon.com/images/I/51YGIMNTljL.__AC_SY400_.jpg" data-holder-rendered="true">
      <p class="card-text">Bluetooth Earbud, Wireless Earbud In-Ear headphone Earpiece Earphone for iphone 8, 8 plus</p>
    </div>

    <div class="card">
      <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="https://images-na.ssl-images-amazon.com/images/G/01/PrimePhotos/2017/Sep/HUD/35750_pp_gw_2x_latest._CB514165390_.png" data-holder-rendered="true">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
    </div>

    <div class="card">
      <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="https://images-na.ssl-images-amazon.com/images/I/81REDDz9OKL._UX522_.jpg" data-holder-rendered="true">
      <p class="card-text">The Lovely Tote Co. Color Block PU 4-Way Bag with Printed Strap</p>
    </div>

  </div>
</div>
