.card {
  float: left;
  width: 33.333%;
  padding: .75rem !important;
  margin-bottom: 2rem;
  border: 0;
  font-weight: 500;
}

.card-img {
  width: 100%;
  height: 280px;
  /*vertical-align: middle;*/
}


.text-muted {
  color: #636c72
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}
