<!--header top start -->
<header class="top-header-bar-container">
  <div class="row">

    <div class="col-md-12">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="header-logo">
          <a href="#" class="custom-logo-link" rel="home" itemprop="url">
            <img width="120" height="120" src="../../assets/img/hs/hs-logo.png" class="custom-logo" alt="Hunt2Save"
                 itemprop="logo" srcset="../../assets/img/hs/hs-logo.png 150w, ../../assets/img/hs/hs-logo.png 65w"
                 sizes="(max-width: 120px) 100vw, 120px">
          </a>
        </div>

        <div class="collapse navbar-collapse">

          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item active">

              <a class="nav-link" routerLink="/">Home</a>
            </li>

            <li class="nav-item">

              <a class="nav-link" href="#">Deals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Faq</a>
            </li>
          </ul>

          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>

        </div>
      </nav>
    </div>
  </div>
</header>
